# Keep contents sorted using 'M-x sort-lines'.
# See 'man 5 gitmailmap' for the file format.

<basil@contovou.net> <contovob@tcd.ie>
<diegoamundo@gmail.com> <therockmandolinist@users.noreply.github.com>
<dunni@gnu.org> <scholar42@gmail.com>
<evgenysw@gmail.com> <evgeni.kolev@uber.com>
<goncalossantos98@gmail.com> <nox@hartley.localdomain>
<ingo.lohmar@posteo.net> <i.lohmar@gmail.com>
<jeanphilippe.bernardy@gmail.com> <jean-philippe.bernardy@tweag.io>
<leungbk@posteo.net> <bkleung89@gmail.com>
<leungbk@posteo.net> <leungbk@mailfence.com>
<me@bcc32.com> <azeng@janestreet.com>
<me@rgrinberg.com> <rudi.grinberg@gmail.com>
<me@wilfred.me.uk> <whughes@ahl.com>
<muir@mnd.rs> <muir.manders@gmail.com>
<muir@mnd.rs> <muir@retailnext.net>
<ricouilletaff@gmail.com> <admin@ericdanan.net>
<ricouilletaff@gmail.com> <eric.danan@u-cergy.fr>
<syohex@gmail.com> <shohei.yoshida@dena.com>
<ywwry66@gmail.com> <58066925+ywwry66@users.noreply.github.com>
Christopher Floess <chris.floess@mailbox.org>
Daanturo <daanturo@gmail.com> <dantle.v01@gmail.com>
Diego A. Mundo <diegoamundo@gmail.com>
Earl Hyatt <okamsn@protonmail.com> <ej32u@protonmail.com>
Jonathan Hayase <PythonNut@users.noreply.github.com>
Justin Burkett <justin@burkett.cc>
Jérôme M. Berger <jeberger@free.fr>
Manuel Uberti <manuel.uberti@inventati.org> <manuel@boccaperta.com>
Mohsin Kaleem <mohkale@kisara.moe> <mohkalsin@gmail.com>
Nathan Moreau <nathan.moreau@m4x.org>
Troy Hinckley <t.macman@gmail.com>
Yevgnen Koh <wherejoystarts@gmail.com>
