body {
    color: #333;
    background-color: #ffffff;
    margin-left: 1em;
    margin-right: auto;
    font-family: 'Ubuntu Mono', sans-serif;
    max-width: 50em;
}

body a {
    color: blue;
}

h2 {
    font-weight: normal;
    text-indent: 0;
    border-radius: 15px;
    background-color: #d6d8ec;
    text-align: left;
    padding: 3px 3px 3px 3px;
}

h2 a[id^="unnumbered"] {
    background-color: #d6d8ec;
}

h2 a {
    color: white;
    background-color:#777777;
    font-size:18px;
    border-radius:3px;
    padding: 0px 5px 0px 5px; 
}

kbd {
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    font-size:13px;
    font-weight:bold;
    font-family:monospace;
    background-color:#d6d8ec;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin:0 0.1em;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
    white-space:nowrap;
}

body a code {
    color: black;
    border: 1px solid Blue;
    border-radius:3px;
}

code {
    font-size:13px;
    border: 1px solid Silver;
    background-color: #e3e4ec;
}

pre {
    border: 1px solid Silver;
    background-color: #eeeeee;
    padding: 3px;
    margin-left: 1em;
}

cursor {
    color: #fff;
    background-color: #000;
    overflow: hidden;
}

h3 {
    counter-reset: chapter;
}

h4 {
    margin-left: auto;
}

table, td, th {
    border: 0px;
}

th {
    background-color:#d6d8ec;
}

tr:nth-child(odd) {
    background-color:#fff;
}
tr:nth-child(even) {
    background-color:#d6d8ec;
}

.region {
    color: #ffffff;
    background-color: #f9b593;
}
